* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 950px) {
  header nav .menuLinks {
    display: none !important;
  }
  header nav .menuLinks2 {
    display: flex !important;
    align-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  header nav .menuLinks2 li a {
    color: hsl(196deg, 35%, 11%);
    font-size: 1.2rem;
  }
  header nav .bars {
    display: none;
  }
  header nav .search_cart {
    display: flex !important;
  }

  .section2 .dropdownContainer {
    display: none !important;
  }
  .section2 .collection {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .section2 .collection .furnitures {
    background-color: hsl(180deg, 27%, 98%);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
  }
  .section2 .collection .furnitures:hover {
    background-color: hsl(164deg, 71%, 42%);
  }
  .section2 .collection .furnitures .furniture {
    color: black !important;
    font-size: 1rem;
    font-weight: 600;
    width: unset;
  }
}
header {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 2rem;
  z-index: 2;
}
header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
header nav .menuLinks2 {
  display: none;
}
header nav .menuLinks {
  position: absolute;
  top: -1000%;
  right: 0%;
  width: 100%;
  padding: 3rem 0;
  background-color: #f4f4f4;
  -webkit-clip-path: polygon(0px 29px, 90.18% 28.5px, 101.64% -1.67%, 100% 100%, 0px 100%);
          clip-path: polygon(0px 29px, 90.18% 28.5px, 101.64% -1.67%, 100% 100%, 0px 100%);
  transition: all 500ms ease;
}
header nav .menuLinks li {
  padding: 1rem;
  text-align: center;
}
header nav .menuLinks li a {
  font-weight: 600;
  color: black;
}
header nav .bars i {
  color: black;
}
header nav .search_cart {
  display: none;
}

.activeShow {
  top: 59% !important;
}

.section1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10vh auto;
}
.section1 .textIntro {
  text-align: center;
}
.section1 .textIntro h1 {
  font-size: 2rem;
  font-weight: 400;
}
.section1 .textIntro h1 .best {
  font-size: 2rem;
  color: hsl(46deg, 89%, 55%);
}
.section1 .textIntro h1 b {
  font-size: 2rem;
  color: hsl(196deg, 35%, 11%);
}
.section1 .textIntro p {
  line-height: 1.5;
  color: #58666b;
}
.section1 .textIntro .btn1_btn2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.section1 .textIntro .btn1_btn2 .btn1Container {
  display: flex;
}
.section1 .textIntro .btn1_btn2 .btn1Container button {
  display: flex;
  align-items: flex-end;
  background-color: hsl(196deg, 25%, 15%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 2rem;
}
.section1 .textIntro .btn1_btn2 .btn2Container {
  display: flex;
}
.section1 .textIntro .btn1_btn2 .btn2Container button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.section1 .textIntro .btn1_btn2 .btn2Container button img {
  width: 25%;
}
.section1 .introImgContainer {
  margin-top: 3rem;
}
.section1 .introImgContainer img {
  width: 100%;
}

.section2 {
  margin-top: 10vh;
}
.section2 h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.section2 p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  color: hsl(196deg, 10%, 38%);
}
.section2 .dropbtn {
  background-color: hsl(164deg, 71%, 42%);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.section2 .dropbtn:hover,
.section2 .dropbtn:focus {
  background-color: hsl(164deg, 71%, 42%);
}
.section2 .dropdownContainer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.section2 .dropdown {
  position: relative;
  display: inline-block;
}
.section2 .dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.section2 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.section2 .dropdown a:hover {
  background-color: #ddd;
}
.section2 .show {
  display: block;
}
.section2 .collection {
  display: none;
}
.section2 .funitureItems {
  padding-top: 10vh;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
}
.section2 .funitureItems div {
  width: 90%;
  background-color: hsl(180deg, 27%, 98%);
  border-radius: 8px;
  margin-top: 1rem;
  text-align: center;
  padding: 1.5rem 0;
  cursor: pointer;
}
.section2 .funitureItems div img {
  max-width: 50%;
}
.section2 .funitureItems div span h3 {
  padding-top: 5vh;
}
.section2 .funitureItems div span p {
  color: black;
}
.section2 .seeMoreBtnContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.section2 .seeMoreBtnContainer button {
  background-color: hsl(196deg, 36%, 17%);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
}

.section3 {
  margin-top: 10vh;
}
.section3 h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.section3 .services_image .services .serviceIllustration {
  padding-top: 2rem;
}
.section3 .services_image .services .serviceIllustration .serviceIllustrationImg {
  display: flex;
  justify-content: center;
}
.section3 .services_image .services .serviceIllustration h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
}
.section3 .services_image .services .serviceIllustration p {
  color: hsl(196deg, 10%, 38%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.section3 .services_image .serviceandbenefitImg {
  width: 90%;
  margin: auto;
  padding-top: 4rem;
}
.section3 .services_image .serviceandbenefitImg img {
  width: 100%;
}
.section3 .knowMoreBtnContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.section3 .knowMoreBtnContainer button {
  background-color: hsl(196deg, 36%, 17%);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
}

.section4 {
  margin-top: 10vh;
  padding-bottom: 5rem;
  background-color: hsl(0deg, 0%, 98%);
}
.section4 .customerReviewSection .customerReviewText h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0;
}
.section4 .customerReviewSection .customerReviewText p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  line-height: 1.7;
  color: hsl(196deg, 10%, 38%);
}
.section4 .customerReviewSection .customerReviewText p #myBtn {
  background-color: hsl(196deg, 36%, 17%);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
}
.section4 .customerReviewSection .customerReviewText .ratingsContainer {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
.section4 .customerReviewSection .customerReviewText .name_post {
  padding-top: 0.5rem;
}
.section4 .customerReviewSection .customerReviewText .name_post .name {
  color: black;
  font-weight: 600;
}
.section4 .customerReviewSection .customerReviewImg {
  padding-top: 1rem;
  width: 90%;
  margin: 0 auto;
}
.section4 .customerReviewSection .customerReviewImg img {
  width: 100%;
}

.section5 {
  margin-top: 5vh;
}
.section5 h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3rem 0;
}
.section5 .companyLogoContainer {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.section5 .companyLogoContainer .company {
  margin: auto;
  transition: 0.4s ease-in-out;
}
.section5 .companyLogoContainer .company.company:hover {
  transform: scale(1.1);
}
.section5 .companyLogoContainer .company img {
  filter: grayscale(100%);
  max-width: 75%;
  cursor: pointer;
}
.section5 .companyLogoContainer .company img:hover {
  filter: grayscale(0%);
}

.section6 {
  background-color: hsl(0deg, 0%, 98%);
  margin: 3rem 0;
}
.section6 h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3rem 0;
}
.section6 .roomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}
.section6 .roomContainer .image_container {
  position: relative;
  cursor: pointer;
}
.section6 .roomContainer .image_container:hover .city_name_view_container {
  opacity: 1;
  text-align: center;
  width: 90%;
  left: 5%;
}
.section6 .roomContainer .image_container .city_img {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.section6 .roomContainer .image_container .city_img img {
  width: 100%;
  border-radius: 3px;
}
.section6 .roomContainer .image_container .city_name_view_container {
  border-radius: 4%;
  position: absolute;
  top: 0%;
  left: 100%;
  bottom: 0%;
  right: 0%;
  height: 98.5%;
  opacity: 0;
  overflow-x: hidden;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-in-out;
}
.section6 .roomContainer .image_container .city_name_view_container .city_name_view {
  width: 20%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}/*# sourceMappingURL=style.css.map */