@media (min-width: 950px) {
  header {
    nav {
      .menuLinks {
        display: none !important;
      }
      .menuLinks2 {
        display: flex !important;
        align-items: center;
        column-gap: 2rem;
        li {
          a {
            color: hsla(196, 35%, 11%, 1);
            font-size: 1.2rem;
          }
        }
      }
      .bars {
        display: none;
      }
      .search_cart {
        display: flex !important;
      }
    }
  }

  .section2 {
    .dropdownContainer {
      display: none !important;
    }
    .collection {
      display: flex !important;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
      .furnitures {
        background-color: hsla(180, 27%, 98%, 1);
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        transition: all 0.5s ease;
        &:hover {
          background-color: hsla(164, 71%, 42%, 1);
        }
        .furniture {
          color: black !important;
          font-size: 1rem;
          font-weight: 600;
          width: unset;
        }
      }
    }
  }
}
