@media (min-width: 920px) {
  header {
    nav {
      .menuLinks {
        display: none !important;
      }
      .menuLinks2 {
        display: flex !important;
        align-items: center;
        column-gap: 2rem;
        li {
          a {
            color: hsla(196, 35%, 11%, 1);
            font-size: 1rem;
          }
        }
      }
      .bars {
        display: none;
      }
      .search_cart {
        display: flex !important;
        column-gap: 1rem;
      }
    }
  }

  .section2 {
    .dropdownContainer {
      display: none !important;
    }
    .collection {
      display: flex !important;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
      .furnitures {
        background-color: hsla(180, 27%, 98%, 1);
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        transition: all 0.5s ease;
        &:hover {
          background-color: hsla(164, 71%, 42%, 1);
        }
        .furniture {
          color: black !important;
          font-size: 1rem;
          font-weight: 600;
          width: unset;
        }
      }
    }
  .seeMoreBtnContainer{
    button{
      &:hover{
        color: hsla(196, 36%, 17%, 1);
        background-color: transparent;
        border: 1px solid hsla(196, 36%, 17%, 1);
      }
    }
  }
  }

  .section3{

  }

  .section5{
    .companyLogoContainer{
      .company {
        margin: auto;
        transition: 0.4s ease-in-out;
        &.company:hover {
          transform: scale(1.1);
        }
        img {
          filter: grayscale(100%);
          max-width: 75%;
          cursor: pointer;
          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
