header{
    // position: fixed;
    width: 100%;
    padding-top: 2rem;
    // padding-bottom: 15rem;
    z-index: 2;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        position: relative;
        .menuLinks2{
            display: none;
        }
        .menuLinks{
            // display: none;
            position: absolute;
            top: 100%;
            right: -200%;
            width: 100%;
            padding: 3rem 0;
            background-color: #f4f4f4;
            clip-path: polygon(
                0px 29px,
                90.18% 28.5px, 
                101.64% -1.67%,
                100% 100%, 0px 100%
              );
              transition: all 500ms ease;
            li{
                padding: 1rem;
                text-align: center;
                a{
                    font-weight: 600;
                }
            }
        }
        .bars{
            i{
                color: black;
            }
        }
        .search_cart{
            display: none;
        }
    }
}

.activeShow{
    right: 0 !important;
}