.section1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10vh auto;
  .textIntro {
    text-align: center;
    h1 {
      font-size: 2rem;
      font-weight: 400;
      .best {
        font-size: 2rem;
        color: hsla(46, 89%, 55%, 1);
      }
      b {
        font-size: 2rem;
        color: hsla(196, 35%, 11%, 1);
      }
    }
    p {
      // padding-top: 5vh;
      line-height: 1.5;
      color: #58666b;
    }

    .btn1_btn2 {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      column-gap: 1rem;
      .btn1Container {
        display: flex;
        button {
          display: flex;
          align-items: flex-end;
          background-color: hsla(196, 25%, 15%, 1);
          color: white;
          border: none;
          border-radius: 8px;
          padding: 0.5rem 2rem;
        }
      }

      .btn2Container {
        display: flex;
        // width: 50%;
        // margin: 0 auto;
        button {
          display: flex;
          align-items: center;
          background-color: white;
          border: none;
          border-radius: 8px;
          img {
            width: 25%;
          }
        }
      }
    }
  }

  .introImgContainer {
    margin-top: 3rem;
    img {
      width: 100%;
    }
  }
}

.section2 {
  margin-top: 10vh;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  p {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    color: hsla(196, 10%, 38%, 1);
  }

  .dropbtn {
    background-color: hsla(196, 10%, 38%, 1);
    color: white;
    padding: 16px 27px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    transition: .5s ease;
    background-color: hsla(164, 71%, 42%, 1);
  }

  .dropdownContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block !important;
  }
  .collection {
    display: none;
  }

  .funitureItems {
    padding-top: 10vh;
    display: grid;
    place-items: center;
    div {
      width: 90%;
      background-color: hsla(180, 27%, 98%, 1);
      border-radius: 8px;
      margin-top: 1rem;
      text-align: center;
      padding: 1.5rem 0;
      cursor: pointer;
      img {
        max-width: 50%;
      }
      span {
        h3 {
          padding-top: 5vh;
        }
        p {
          // width: 70%;
          // margin: auto;
          color: black;
        }
      }
    }
  }
  .seeMoreBtnContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    button {
      transition: all .5s ease;
      cursor: pointer;
      background-color: hsla(196, 36%, 17%, 1);
      color: white;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      border: none;
    }
  }
}

.section3 {
  margin-top: 10vh;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    // padding-bottom: 1rem;
  }
  .services_image {
    .services {
      .serviceIllustration {
        padding-top: 2rem;
        .serviceIllustrationImg {
          display: flex;
          justify-content: center;
        }
        h2 {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 600;
          padding: 1rem 0;
        }
        p {
          color: hsl(196deg, 10%, 38%);
          text-align: center;
          width: 90%;
          margin: 0 auto;
        }
      }
    }
    .serviceandbenefitImg {
      width: 90%;
      margin: auto;
      padding-top: 4rem;
      img {
        width: 100%;
      }
    }
  }
  .knowMoreBtnContainer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    button {
      transition: all .5s ease;
      cursor: pointer;
      background-color: hsla(196, 36%, 17%, 1);
      color: white;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      border: none;
    }
  }
}

.section4 {
  margin-top: 10vh;
  padding-bottom: 5rem;
  background-color: hsla(0, 0%, 98%, 1);
  .customerReviewSection {
    .customerReviewText {
      h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 2rem 0;
      }
      p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        line-height: 1.7;
        color: hsl(196deg, 10%, 38%);
        // transition: all .4s ease;
      }
      .readMoreBtnContainer{
        display: flex;
        justify-content: center;
        #myBtn {
          background-color: hsla(196, 36%, 17%, 1);
          color: white;
          font-size: .7rem;
          padding: .4rem 1rem;
          border-radius: 2rem;
          border: none;
        }
      }
      .ratingsContainer {
        display: flex;
        justify-content: center;
        padding-top: 5vh;
      }
      .name_post {
        padding-top: 0.5rem;
        .name {
          color: black;
          font-weight: 600;
        }
      }
    }

    .customerReviewImg {
      padding-top: 1rem;
      width: 90%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}

.section5 {
  margin-top: 5vh;
  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3rem 0;
  }
  .companyLogoContainer {
    display: flex;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    .company {
      margin: auto;
      transition: 0.4s ease-in-out;
      &.company:hover {
        transform: scale(1.1);
      }
      img {
        // filter: grayscale(100%);
        max-width: 75%;
      }
    }
  }
}

.section6 {
  background-color: hsla(0, 0%, 98%, 1);
  margin: 3rem 0;
  padding-bottom: 3rem;
  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3rem 0;
  }

  .roomContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    .image_container {
      position: relative;
      cursor: pointer;
      &:hover .city_name_view_container {
        opacity: 1;
        text-align: center;
        width: 90%;
        left: 5%;
      }
      .city_img {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        img {
          width: 100%;
          border-radius: 3px;
        }
      }
      .city_name_view_container {
        border-radius: 4%;
        position: absolute;
        top: 0%;
        left: 100%;
        bottom: 0%;
        right: 0%;
        height: 98.5%;
        opacity: 0;
        overflow-x: hidden;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s ease-in-out;
        .city_name_view {
          width: 20%;
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
    }
  }
}
